@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");

.App {
  text-align: center;
  font-family: "Chivo";
  display: grid;
  grid-template-areas: "nav" "header" " main" "footer";
  margin: 25px;
}

/* navbar design created using guide: https://dev.to/roccosangellino/how-to-build-a-simple-navbar-with-html-and-css-945 */
a {
  text-decoration: none;
}

.navbar {
  background-color: #333333;
  display: flex;
  align-items: center;
}

.navbar a {
  color: #e7e7e7;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar .brand {
  display: block;
  color: #e7e7e7;
  padding: 0 24px;
  font-size: 24px;
}

.navbar ul li a {
  color: #e7e7e7;
  padding: 24px;
  display: block;
}

.navbar ul a:hover,
.navbar ul a:focus {
  background-color: #272727;
}

.italic {
  font-style: italic;
  color: red;
}

header {
  grid-area: header;
  grid-template-areas:
    "title"
    "subheader";
  border-bottom: 2px solid;
}

.blog-title {
  grid-area: title;
  display: flex;
  justify-content: flex-start;
  margin-bottom: -5px;
  font-size: 50px;
}

.blog-subheading {
  grid-area: subheader;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
}

footer {
  grid-area: footer;
}

.home-posts {
  grid-area: main;
  border-bottom: 2px solid;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  column-gap: 20px;
  display: grid;
  grid-template-areas:
    "title body"
    "date body"
    "edit body"
    "delete body"
    ". body"
    ". body";
}

.post-title {
  grid-area: title;
  justify-self: start;
}

.post-body {
  grid-area: body;
  justify-self: start;
}

.post-date {
  grid-area: date;
  justify-self: start;
  font-size: 12px;
}

.post-edit {
  grid-area: edit;
  justify-self: start;
}

.post-delete {
  grid-area: delete;
  justify-self: start;
}

.contact-form {
  display: grid;
  padding-bottom: 30px;
  border-bottom: 2px solid;
  grid-gap: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  grid-area: main;
  grid-template-areas:
    "title . name" ". . email" ". . subject" ". . message"
    ". . submit";
}

.contact-title {
  grid-area: title;
}

.contact-name {
  grid-area: name;
  height: 5px;
}

.contact-email {
  grid-area: email;
}

.contact-subject {
  grid-area: subject;
}

.contact-message {
  grid-area: message;
  height: 100px;
}

.contact-button {
  grid-area: submit;
}

.new-post-form {
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  border-bottom: 2px solid;
  display: grid;
  grid-gap: 5px;
  grid-area: main;
  grid-template-areas:
    "header . date"
    ". . title"
    ". . message"
    ". . publish";
}

.new-header {
  grid-area: header;
  margin: 0 auto;
}

.new-title {
  grid-area: title;
}

.new-date {
  grid-area: date;
}

.new-message {
  grid-area: message;
  height: 100px;
}

.new-publish {
  grid-area: publish;
}

.about {
  display: grid;
  grid-area: main;
  border-bottom: 2px solid;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  grid-gap: 20px;
  grid-template-areas: "picture body";
}

.about-pic {
  grid-area: picture;
}

.about-body {
  grid-area: body;
}

@media all and (max-width: 414px) {
  .App {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .blog-title {
    font-size: 28px;
  }

  .home-posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .new-post-form {
    display: flex;
    flex-direction: column;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
}
