@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");

.App {
  text-align: center;
  font-family: "Chivo";
  display: grid;
  grid-template-areas: "nav header" "nav main" "nav footer";
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-bottom: 2px solid;
}

footer {
  grid-area: footer;
}

.home-posts {
  grid-area: main;
  border-bottom: 2px solid;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  display: grid;
  grid-template-areas:
    "title . ."
    "date . ."
    "edit delete .";
}

.post-title {
  grid-area: title;
}

.post-date {
  grid-area: date;
}

.post-edit {
  grid-area: edit;
}

.post-delete {
  grid-area: delete;
}

.contact-form {
  display: grid;
  border-bottom: 2px solid;
  padding-bottom: 30px;
  grid-gap: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  grid-area: main;
  grid-template-areas:
    "title . name" ". . email" ". . subject" ". . message"
    ". . submit";
}

.contact-title {
  grid-area: title;
}

.contact-name {
  grid-area: name;
  height: 5px;
}

.contact-email {
  grid-area: email;
}

.contact-subject {
  grid-area: subject;
}

.contact-message {
  grid-area: message;
  height: 100px;
}

.contact-button {
  grid-area: submit;
}

.new-post-form {
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  border-bottom: 2px solid;
  display: grid;
  grid-gap: 5px;
  grid-area: main;
  grid-template-areas:
    "header . date"
    ". title title"
    ". message message"
    ". publish publish";
}

.new-header {
  grid-area: header;
  margin: 0 auto;
}

.new-title {
  grid-area: title;
}

.new-date {
  grid-area: date;
}

.new-message {
  grid-area: message;
}

.new-publish {
  grid-area: publish;
}
