@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");

.App {
  text-align: center;
  font-family: "Chivo";
  display: grid;
}

nav {
  display: flex;
  justify-content: flex-end;
}
